# --- Control de Versiones y Git ---
.git
.gitignore
.github

# --- Python y Entornos Virtuales ---
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# --- Variables de Entorno y Secretos (SEGURIDAD) ---
.env
.env.*
.flaskenv

# --- Base de Datos e Instancia ---
instance/
*.sqlite3
*.db

# --- Archivos de Sistema y Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Otros ---
Dockerfile
.dockerignore
fly.toml
tests/