name: Keep Supabase Project Alive

on:
  schedule:
    # Se ejecuta Lunes, Miércoles y Viernes a medianoche UTC
    - cron: '0 0 * * 1,3,5' 
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL_SUPABASE: ${{ secrets.SUPABASE_DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install psycopg2-binary

      - name: Ping Supabase Database
        # Asegúrate de que el script ping_supabase.py esté en la raíz de tu repositorio
        run: python ping_supabase.py